In [2]:
import pandas as pd

#membaca dataset
dataset1 = pd.read_csv('/content/data-penumpang-bus-transjakarta-januari-2021.csv')
dataset2 = pd.read_csv('/content/data-penumpang-bus-transjakarta-februari-2021.csv')
dataset3 = pd.read_csv('/content/data-penumpang-bus-transjakarta-maret-2021.csv')
dataset4 = pd.read_csv('/content/data-penumpang-bus-transjakarta-april-2021.csv')
dataset5 = pd.read_csv('/content/data-penumpang-bus-transjakarta-mei-2021.csv')
dataset6 = pd.read_csv('/content/data-penumpang-bus-transjakarta-juni-2021.csv')
dataset7 = pd.read_csv('/content/data-penumpang-bus-transjakarta-juli-2021.csv')
dataset8 = pd.read_csv('/content/data-penumpang-bus-transjakarta-agustus-2021.csv')
dataset9 = pd.read_csv('/content/data-penumpang-bus-transjakarta-september-2021.csv')
dataset10 = pd.read_csv('/content/data-penumpang-bus-transjakarta-oktober-2021.csv')
dataset11 = pd.read_csv('/content/data-penumpang-bus-transjakarta-november-2021.csv')
dataset12 = pd.read_csv('/content/data-penumpang-bus-transjakarta-desember-2021.csv')

In [4]:

# Gabungkan dataset menggunakan concat
combined_dataset = pd.concat([dataset1, dataset2,dataset3, dataset4, dataset5, dataset6, dataset7, dataset8, dataset9, dataset10, dataset11, dataset12 ], ignore_index=True)

# Cetak dataset gabungan
combined_dataset

,tahun,bulan,jenis,kode_trayek,trayek,jumlah_penumpang
0,2021,1,Mikrotrans,JAK.88,Terminal Tanjung Priok - Ancol Barat,1473
1,2021,1,Mikrotrans,JAK.85,Bintara - Cipinang Indah,20280
2,2021,1,Mikrotrans,JAK.84,Terminal Kampung Melayu - Kapin Raya,28779
3,2021,1,Mikrotrans,JAK.80,Rawa Buaya - Rawa Kompeni,54998
4,2021,1,Mikrotrans,JA.77,Tanjung Priok - Jembatan Item,60284
...,...,...,...,...,...,...
1468,2021,12,Angkutan Umum Integrasi,1A,PIK - Balai Kota,0
1469,2021,12,Angkutan Umum Integrasi,12B,Pluit - Senen,0
1470,2021,12,Angkutan Umum Integrasi,11Q,Kampung Melayu - Pulo Gebang via BKT,0
1471,2021,12,Angkutan Umum Integrasi,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0
1472,2021,12,Angkutan Umum Integrasi,10K,Tanjung Priok - Senen via Taman BMW,0

In [5]:
# Mapping angka bulan ke nama bulan dengan tahun
nama_bulan = {
    1: 'Januari 2021',
    2: 'Februari 2021',
    3: 'Maret 2021',
    4: 'April 2021',
    5: 'Mei 2021',
    6: 'Juni 2021',
    7: 'Juli 2021',
    8: 'Agustus 2021',
    9: 'September 2021',
    10: 'Oktober 2021',
    11: 'November 2021',
    12: 'Desember 2021'
}

# Mengganti nilai angka bulan dengan nama bulan dengan tahun pada combined_dataset
combined_dataset['bulan'] = combined_dataset['bulan'].map(nama_bulan)

# Cetak dataset gabungan
combined_dataset

,tahun,bulan,jenis,kode_trayek,trayek,jumlah_penumpang
0,2021,Januari 2021,Mikrotrans,JAK.88,Terminal Tanjung Priok - Ancol Barat,1473
1,2021,Januari 2021,Mikrotrans,JAK.85,Bintara - Cipinang Indah,20280
2,2021,Januari 2021,Mikrotrans,JAK.84,Terminal Kampung Melayu - Kapin Raya,28779
3,2021,Januari 2021,Mikrotrans,JAK.80,Rawa Buaya - Rawa Kompeni,54998
4,2021,Januari 2021,Mikrotrans,JA.77,Tanjung Priok - Jembatan Item,60284
...,...,...,...,...,...,...
1468,2021,Desember 2021,Angkutan Umum Integrasi,1A,PIK - Balai Kota,0
1469,2021,Desember 2021,Angkutan Umum Integrasi,12B,Pluit - Senen,0
1470,2021,Desember 2021,Angkutan Umum Integrasi,11Q,Kampung Melayu - Pulo Gebang via BKT,0
1471,2021,Desember 2021,Angkutan Umum Integrasi,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0
1472,2021,Desember 2021,Angkutan Umum Integrasi,10K,Tanjung Priok - Senen via Taman BMW,0

In [6]:
# Menghapus kolom tahun dari combined_dataset
combined_dataset = combined_dataset.drop('tahun', axis=1)

In [7]:
# Cetak dataset gabungan
combined_dataset

# Menyimpan dataset gabungan ke dalam file CSV
combined_dataset.to_csv('combined_dataset.csv', index=False)